/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-ene-2019, 0:22:33
    Author     : dome9
*/
body{
    background: white;
    width: 100%;
    height: 100%;
    margin:0px; 
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    margin:0px; 
    padding:0px;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    margin:0px; 
    padding:0px;
    height: 75px;
    width: 100%;
    background:forestgreen;
}

#imgLogo{
    margin:0px; 
    padding:0px;
    height: 100%;
    float: left;
     width: 50%;
}

#logo{
    height: 70%;
    margin: 1% 0 1% 5%;
}

.autenticacion{
    width: 50%;
    height: 100%;
    float: right;
}

#formulario{
    height: 70%;
    margin: 1% 0 1% 5%;
}

label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input{
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 150px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}

input:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}


nav{
  width: 100%;
  background: black;
  margin-right: 5%;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  padding-top: 25px;
  padding-right: 100px;
  position: relative;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
}

nav > li{
    float: left;
    position: relative;
}

nav a:hover{
    color: lightgray;
   
}

nav a::before{
 content: '';
 display: block;
 height: 5px;
 width: 100%;
 background-color: white;
 position: absolute;
 top: 0;
 width: 0%;
 transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
    
}

.submenu{
    position: absolute;
    background: black;
    display: none;
    width: 100%;
}

.submenu li a {
    display: block; 
    font-size: 15px;
}

nav li:hover .submenu{
    display: block;
}

.subMenucito{
    position: absolute;
    background: lightslategray;
    display: none;
    width: 100%;
}


			
.nav li:hover > ul {
    display:block;
    color: black;
}
			
.nav li ul li {
    position:relative;
}
			
.nav li ul li ul {
    right:-140px;
    top:0px;
}



section{
    width: 100%;
    height: 500px;
}

.imgS{
   margin: 0px auto;
   display: block;
   height: 60%;
    width: 100%;
    padding: 0;
}

.textS{
    margin: 0px auto;
    display: block;
    width: 80%;
}

#imgHistoria{
    width: 60%;
    height: 150px;
}

#formCrudoGPRS{
    border: black;
    padding: 5px;
    width: 40%;
    height: 40%;
}

footer{
    background: black;
    width: 100%;
    height: 100px;

}


